// Regular font family
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

// Code (monospace) font family
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

// Copy text color
$text-color: rgb(34, 34, 34) !default;

// Main brand color
$brand-color: rgb(229, 0, 80) !default;

// Light grey
$light-grey: rgb(237, 237, 237) !default;

// Medium grey
$mid-grey: rgb(153, 153, 153) !default;

// Dark grey
$dark-grey: rgb(68, 68, 68) !default;

// Container's maximum width
$max-width: 1180px !default;


// FLAT UI COLORS - http://flatuicolors.com/
// ----------------------------------------------------------------------------

// Greens
$turqouise: #1abc9c;
$green-sea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;

// Yellows
$sun-flower: #f1c40f;

// Oranges
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;

// Blues
$peter-river: #3498db;
$belize-hole: #2980b9;

// Reds
$alizarin: #e74c3c;
$pomegranate: #c0392b;

// Purples
$amethyst: #9b59b6;
$wisteria: #8e44ad;

// Monotone
$clouds: #ecf0f1;
$silver: #bdc3c7;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$concrete: #95a5a6;
$asbestos: #7f8c8d;
